Package: {{ package_name }}
Version: {{ version }}
Section: {{ section }}
Priority: {{ priority }}
Architecture: {{ architecture }}
Maintainer: {{ maintainer }}
Description: {{ description }}
 {{ long_description }}
